{% extends "absence/base.html" %}
{% block content %}
{% if object.username == user %}
    {{ user.username }}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-absences' user.username %}">{{ user.username }}</a>
          <small class="text-muted">{{ object.date_of_absence|date:"F d, Y" }}</small>
        </div>
        <h2 class="aricle-title">{{ object.course }}</h2>
        
        </div>
    </article>
{% else %}
      <h1>Η απουσία καταγράφηκε</h1>
{% endif %}
{% endblock content %}
