{% extends "absence/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-absences' object.username.username %}">{{ object.username }}</a>
        <small class="text-muted">{{ object.date_of_absence|date:"F d, Y" }}</small>
        {% if object.username == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'absence-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'absence-delete' object.id %}">Delete</a>
           </div>
        {% endif %}
      </div>
      <h2 class="aricle-title">{{ object.course }}</h2>
      <p class="article-content">{{ object.username }}</p>
      </div>
  </article>
{% endblock content %}
